[run]
branch = True
source =
    app
    utils

[report]
omit =
    */tests/*
    test/*
    */.venv/*
    */__init__.py
show_missing = True
precision = 2
skip_covered = False

[html]
directory = test/test_output/coverage
